@media print {
  @page {
    size:  auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
  }
  html {
    background-color: #FFFFFF;
    margin: 0px;  /* this affects the margin on the html before sending to printer */
  }

  body {
    margin: 0; /* margin you want for the content */
  }
  header,
  footer,
  #menu,
  #navigation,
  .coach-last,
  .blue-box {
    display: none;
  }
  .certificate {
    display: block;
  }

}
